* {
	font-family: "Roboto", sans-serif;
}


body {
	background: #FFFFFF;
	color: white;
}

#location-text-input {
	display: block;
	border: none;
	background: #F5EDC3;
	border-radius: 10px;
	padding: 20px;
	color: grey;
	outline: none;
	width: 70%;
	font-size: 30 px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	vertical-align: 20px;
	margin-top: 880px;
}

.btn-send {
	background-color: orange;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	border-radius: 20%;
	float: right;
	margin-right: 20px;
	margin-top: 880px;
	cursor: pointer;
}

.btn-send:hover {
	background-color: #978318;
}

.btn-mic {
	background-color: orange;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	border-radius: 20%;
	float: left;
	margin-left: 20px;
	margin-top: 880px;
	cursor: pointer;
}

.btn-mic:hover {
	background-color: #978318;
}